<footer class="footer">
  <small>
    The <a href="http://wow.blizzard.cn/">Power App</a>
    by <a href="http://wow.blizzard.cn/">alexhimmel</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   'About_path' %></li>
      <li><%= link_to "Contact", 'Contact_path' %></li>
      <li><a href="http://wow.blizzard.cn/">News</a></li>
    </ul>
  </nav>
</footer>